<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="../uploads/buyer.css">
</head>
<header>
   <h1>Search</h1>
</header>
<body>
    <div class="search-bar">
        <form method="post" action="{{ url_for('search') }}">
            <input type="text" name="query" placeholder="Enter book name">
            <button type="submit">Search</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
